.login-main {
  display: flex;
  justify-content: center;
  align-items: start;
  text-align: center;
  background-color: #d2f4fd;
}

.login-card {
  width: 100%;
  max-width: 520px;
  margin-top: 10%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.login-avatar {
  padding: 10px;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/*.login-container {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 10%;
  height: 100vh;
}
.login-main {
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 520px;
  background-color: #dbdbdb;
  border-radius: 20px;
}
.login-avatar {
  padding: 10px;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}
.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
*/
